* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

figcaption {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #CD071E;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    color: inherit;
}

a:hover,
a:focus {
    background-color: #CD071E;
    color: #ffffff;
}

p {
    margin-top: 25px;
    color: #CD071E;
}