* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-family: "Karla", serif;
    flex-direction: column;
}

main {
    background-color: #1F2937;
    max-width: 550px;
    width: 100%;
    padding: 100px 62px 100px;
}

header {
    position: relative;
}

header div {
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 0;
    right: 0;
    gap: 10px;
}

header div input {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
}

p {
    color: #D5D4D8;
    font-size: 20px;
}

span {
    color: #4ADF86;
    display: block;
}

section:first-of-type {
    display: flex;
    gap: 15px;
    width: 100%;
    margin: 2rem 0 2rem 0;
    align-items: center;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #10B981;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -12px;
    /* Centers thumb on the track */

    /*custom styles*/
    background-color: #10B981;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #10B981;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0;
    /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #10B981;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}


section:last-of-type {
    height: 2px;
    display: flex;
    position: absolute;
    border-top: 2px solid #2F3E53;
}

.fas {
    color: #ffffff;
    position: relative;
    right: 10px;
    left: -200px;
}

button,
input {
    font-family: inherit;
    outline: unset;
    border: unset;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
}

button {
    background-color: #10B981;
    color: #ffffff;
    width: 191px;
    padding: 9px 17px 9px 15px;
    height: 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #0ea56d;
    transform: scale(1.05);
}

button:active {
    background-color: #087a55;
    transform: scale(0.98);
}

input {
    background-color: #273549;
    width: 211px;
    height: 39px;
    font-size: 24px;
    color: #55F991;
    text-align: center;
    margin-top: 2rem;
}