/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* body */
body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main */
main {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2.5em;
}

/* img */
img {
  width: 90%;
  margin: 0 auto;
  height: 350px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* header */
h1,
h2,
p {
  margin-left: 25px;
}

h1,
h2 {
  color: rebeccapurple;
}

ul {
  margin: 10px 0 0 25px;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: rgb(110, 67, 152);
}

a:hover {
  color: rebeccapurple;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
}

footer p {
  margin-bottom: 5px;
}

input,
button {
  padding: 10px 45px;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 5px;
  background: transparent;
  width: 90%;
  margin: 0 auto;
  height: 45px;
}

input {
  margin-bottom: 15px;
  border: 2px solid rgb(241, 236, 236);
}

input:hover {
  border: 2px solid rgb(110, 67, 152);
}

button {
  background-color: rebeccapurple;
  color: #ffffff;
}

button:hover {
  background-color: rgb(110, 67, 152);
}
