body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

img {
  width: 200px;
  display: block;
}
p {
  font-weight: 600;
  margin-bottom: 5px;
}
button {
  background: #ffffff;
  color: black;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: red; /* Slightly darker shade for hover */
  transform: scale(1.05); /* Subtle scaling effect */
  color: #ffffff;
}

button:active {
  background: #004494; /* Even darker shade for active state */
  transform: scale(0.98); /* Subtle shrinking effect */
}

button:focus {
  outline: 2px solid red; /* Adding an outline for accessibility */
  outline-offset: 2px;
}

#error {
  color: red;
  font-weight: 200;
}

/* main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}
