* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

h1,
h2 {
    color: rgb(96, 46, 139);
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: rebeccapurple;
}

img {
    display: block;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 2rem;
    height: 250px;
    border: 4px rgb(96, 46, 139) solid;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    color: orange;
}

p a {
    color: rgb(96, 46, 139);
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

p a:hover {
    color: #1DA1F2;
    border-bottom: 2px solid #1DA1F2;
}

header,
main,
footer {
    max-width: 50%;
    margin: 2rem auto 0 auto;
}

fieldset {
    padding: 2rem;
    width: 80%;
    outline: none;
    border: 1px rgb(96, 46, 139) solid;
    color: orange;
}

label,
input,
button {
    display: block;
    margin: 1rem 0 0 0;
}

label {
    margin-top: 0;
}

button,
input {
    padding: 10px 45px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 2.75px;
}

button {
    display: block;
    width: 41%;
    background-color: #1DA1F2;
    color: #ffffff;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #35abf4;
}

button:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input {
    border: 1px solid #1DA1F2;
}

input:hover,
input:focus {
    outline: 2px solid #35abf4;
    padding: 10px 45px;
}

footer {
    text-align: center;
}

footer p {
    color: rebeccapurple;
}