body {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

img {
  object-fit: cover;
  width: 50%;
  margin: 0 auto 25px auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px 15px;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
  max-width: 584px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border: 1px solid #dcdcdc;
  font-weight: 500;
  color: #5f6368;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #f1f3f4;
  color: #202124;
}

button:active {
  background-color: #e8e8e8;
}

div {
  display: flex;
  gap: 10px;
}
