* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

button {
    padding: 1rem 1.5rem;
    outline: unset;
    border: unset;
    cursor: pointer;
    background: transparent;
    color: #ffffff;
}

button:first-of-type {
    background-color: green;
}

button:nth-child(2) {
    background-color: blue;
}

button:nth-child(3) {
    background-color: red;
}

button:nth-child(4) {
    background-color: gray;
}

span {
    font-size: 1.5rem;
    margin: 1rem auto;
}