/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: #1B244A;
    display: flex;
    max-width: 1150px;
    width: 100%;
    padding: 4rem 1.5rem;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
}

.display {
    margin: 1rem 0 1.5rem 0;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    width: 45px;
    height: 45px;
    border: unset;
    outline: unset;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
}


h2 {
    color: #EEEEEE;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.display {
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
}