* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 5rem;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

input,
button {
    border: unset;
    outline: unset;
    margin-bottom: 1rem;
    border: 2px solid oldlace;
}

input {
    padding: 1rem;
    font-size: 1rem;
}

input::placeholder {
    font-size: 1rem;
}

button {
    padding: .65rem;
    cursor: pointer;
}