* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: row;
}

input {
    width: 275px;
    padding-left: 25px;
}

button {
    width: 100px;
}

input,
button {
    height: 35px;
    cursor: pointer;
}

button {
    margin-left: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    padding-left: 25px;
}

ul {
    margin-top: 25px;
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}