body {
    background-color: #1C1C1C;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Parkinsans", sans-serif;
    color: #ffffff;
}

main {
    background-color: #273549;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 2.5rem;
}

h1 {
    font-size: 2rem;
}

button {
    background-color: #10B981;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 15px 45px;
    border-radius: 3px;
    cursor: pointer;
    width: 215px;
    letter-spacing: .05px;
    transition: all 0.2s ease;
    margin: 1.5rem 0 0 0;
}

button:hover {
    background-color: #128a5d;
    transform: scale(1.05);
}

button:focus {
    outline: 3px solid #4ADF86;
}

button:active {
    background-color: #0a8e52;
    transform: scale(0.98);
}

span {
    display: block;
    color: #4ADF86;
    font-weight: 600;
}

.top {
    padding: 3rem;
    border-bottom: 2px solid #4ADF86;
}

.bottom {
    padding: 3rem;
}

.passwords {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.passwords input {
    background-color: #273549;
    outline: none;
    color: #ffffff;
    border: 2px solid #4ADF86;
    font-size: 16px;
    opacity: 100%;
    border-radius: 5px;
    padding: 10px;
}